body{
  margin: 40px;
    }
a {
  color: DarkSlateblue;
  text-decoration: none;
  }
h1 {
  font-size:60px;
  text-align:center;
  border-bottom:1px solid gray;
  margin:-7px;
  padding:40px;
   }
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ul {
  font-size: 20px;
  font-weight: bolder;
  border-right:1px solid gray;
  width:220px;
  margin:7px;
  padding: 20px;
  padding-left : 6px
}
#grid #information{
  padding-left : 120px;
}
@media(max-width:700px){
  #grid{
    display: block;
  }
  #grid ul{
    border-right:none;
  }
  #information{
    border-top:1px solid gray;
  }
}
